.left{


        background-color: antiquewhite;


}

.right{


        background-color: antiquewhite;

}


.mid{

        background-color: #eee;
        height: 60%;
        margin: 1%;
         margin-top: 0px;


}
.jumbotron{

    text-align: center;
}

/* Style the buttons that are used to open and close the accordion panel */
button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
button.accordion.active, button.accordion:hover {
    background-color: #ddd;
}

/* Style the accordion panel. Note: hidden by default */
div.panel {
    padding: 5%;
    background-color: white;
    height: 100px;
    
    display: none;
}

button.accordion:after {
    content: '☰'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}


#export a{

    text-decoration: none;
}

.bCard{


    height: 90%;
    margin:2%;
    padding: 7%;
    border: 3px solid ;
    border-radius: 8px;

}